{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des Lieux{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom du Lieu</th>
                <th scope="col">Rue</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Ville</th>
            </tr>
            </thead>
            <tbody>
    {% for lieu in lieux %}
            <tr>
                <td>{{ lieu.nomLieu }}</td>
                <td>{{ lieu.rue }}</td>
                <td>{{ lieu.latitude }}</td>
                <td>{{ lieu.longitude }}</td>
                <td>{% if lieu.villeNom is defined %}{{ lieu.villeNom }}{% endif %}</td>
            </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
