{% extends 'base.html.twig' %}
{% form_theme createSortieForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    #formCreate{
        max-width: 60%;
        margin: 0 auto;
        position: relative;
        top: 5em;
    }
    #detailsMap{
    height: 400px;
    }
{% endblock %}

{% block body %}
<div id="formCreate">
    {{  form_start(createSortieForm) }}

    {{ form_widget(createSortieForm) }}

    {{  form_end(createSortieForm) }}
</div>
{% endblock %}