{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des sorties{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for sortie in listeSorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.datedebut|date('m/d/Y') }}</td>
                        <td>{{ sortie.datecloture|date('m/d/Y') }}</td>
                        <td>{{ sortie.nbinscrit }}/{{ sortie.nbinscriptionsmax }}</td>
                        <td>{{ sortie.libelleetat }}</td>
                        <td>{% if sortie.estinscrit %}X{% else %}{% endif %}</td>
                        <td><a href="{{ path('profil', {'id': sortie.numorganisateur }) }}">{{ sortie.nomorganisateur }}</a></td>
                        <td><a href="{{ path('afficherSortie', { 'noSortie': sortie.nosortie }) }}">Afficher</a>
                            {% if sortie.estinscrit == false and sortie.datecloture > "now"|date("m/d/Y") and sortie.nbinscrit < sortie.nbinscriptionsmax %}
                                <a href="{{ path('inscription', {'nosortie': sortie.nosortie, 'noparticipant': app.user.noParticipant}) }}"> / S'inscrire</a>
                            {% elseif sortie.estinscrit == true and sortie.datedebut > "now"|date("m/d/Y") %}
                                <a href="{{ path('desinscription', {'nosortie': sortie.nosortie, 'noparticipant': app.user.noParticipant}) }}"> / Se désinscrire</a>
                            {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
